.header {
  color: #323233;
  background-color: #ebedf0;
  height: 46px;
  padding: 32px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: #323233;
  text-decoration: none;
  font-weight: 800;
  font-size: 2rem;
  line-height: 3rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-left: -617px;
}

main {
  margin-top: 190px;
}
