.header {
  color: #323233;
  background-color: #f9f8f2;
  height: 48px;
  padding: 32px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: #323233;
  text-transform: none;
  text-decoration: none;
  font-weight: 800;
  font-size: 2rem;
  line-height: 3rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-left: -617px;
}

main {
  padding-top: 79px;
}

.top-div {
  background-color: #f9f8f2;
  margin-left: 343px;
  margin-top: 80px;
}

.top-div h1 {
  color: #171717;

  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1px;
  margin-top: -7px;
}

.top-div p {
  color: #525252;
  margin-top: -8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  font-family: 'Inter', sans-serif !important;
}

h6 {
  color: #737373;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-top: 8px;
  margin-left: 4px;
}

.email-input-container input {
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  --tw-border-opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid white;
  border-radius: 0.375rem;
  width: 12.5%;
  margin-top: 11px;
}

.email-input-container input::placeholder {
  font-family: 'Inter', sans-serif;
}
.submit-button {
  --tw-bg-opacity: 1;
  background-color: rgb(23 23 23 / var(--tw-bg-opacity));
  outline-offset: 2px;
  outline-width: 2px;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.5rem;
  justify-content: center;
  display: inline-flex;
  margin-left: 0.5rem;
  cursor: pointer;
  width: 7%;
  text-transform: none;
}
